<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <title>Help</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 
  <div class="main-content">
    {{>header}}
    <h4>Just put your Location in search Box and You will get given Location weather information.</h4>
    <p>{{helpText}}</p>
  </div>
  <p>if any issue come please report it at <a href="http://github.com/ShubhamkumarAnand/weather-app/issues">GitHub</a>. Thanks !</p>
  
  {{>footer}}
</body>
</html>